{{#if products}}
<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
      <div class="col-lg-4">Название</div>
      <div class="col-lg-4">Количество</div>
      <div class="col-lg-4">Цена</div>
  </div>
</div>


<div class="row shopping-cart">
    <div class="col-lg-6 col-lg-offset-3">
    <ul class="square ">
        
        {{# each products }}
        <li class="row"> 
            {{!-- отчет идет от 12 колонок несмотря на то что выделенно 6 --}}
           <span class="col-lg-3 product_pm" >{{product}}</span>
           <strong class="col-lg-3 quantity_pm" >{{quantity}}</strong>
           <span class="col-lg-3 cost_pm">{{cost}}</span>
           <button class="col-lg-1 button_plus">+</button>
           <span class="col-lg-1">-</span>
        </li>
     
    {{/each}}
    </ul>
    <form class="forma" action="/pay" method="post">
    <input class="totalqty_pm" name="totalqty" value="{{Totalprice}}"></input>
    <button type="submit" class="btn btn-success">Buy now</button>
    </form>
    
    </div>
   
    {{else}}
    <h3>No products!</h3>
    
</div>
{{/if}}
